@font-face {
  font-family: 'MyWebFont';
  src: url('fonts/colaborate_thin_macroman/ColabThi-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/colaborate_thin_macroman/ColabThi-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/colaborate_thin_macroman/ColabThi-webfont.woff') format('woff'), /* Modern Browsers */
       url('fonts/colaborate_thin_macroman/ColabThi-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/colaborate_thin_macroman/ColabThi-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
body {
margin:0;
  padding: 0;
  font-family: MyWebFont, sans-serif;

}

h1 {
	margin:0;
	background: #1C9297;
  	color:#ffffff;
  	padding:1em;
}

/*-------------SURVEY ASSIGNMENT---------------*/
label {
	font-weight:bold;
	color: #F2994B
}
form {
	margin-top:1em;
	margin-left:4em;
	color:#004F53;
}
button {
	margin-bottom:.5em;
	background-color:#1C9297;
	color:#ffffff;
	border:none;
	border-radius:.2em;
	padding:.3em;
}
button:hover{
	background-color: #004F53;
}
#survey a {
	margin-left:4em;
	text-decoration: none;
	color:#22C0C7;
  	-webkit-transition: color .2s;
  	transition: color .2s;
}
#survey a:hover {
  color:#FF9D2E;
}

#results div {
	margin-top:1em;
	margin-left:4em;
	color:#004F53;
}
h2{
	font-size:1.4em;
	margin-bottom:.2em;
	margin-top:.3em;
}

#results ul {
	margin-top:.2em;
	margin-bottom:1em;
}